@import url("gold.css");
@import url("root.css");

body {
    display: grid;
}

h1 {
    font-family: "slkscr";
    color: var(--red);
}

h2 {
    font-family: "slkscr";
    background-color: var(--white);
    color: var(--black);
}

header {
    margin-bottom: var(--s);
}

#side_panel {
    background-color: var(--blue);
    height: fit-content;
    div:not(#burger) {
        &:not([opened]) {
            display: none;
        }
    }
}

#burger {
    width: 100%;
    z-index: 1;
    img {
        width: var(--m);
        cursor: pointer;
        align-self: start;
        justify-self: end;
    }
}

#main_panel {
    padding-inline: var(--m);
    * {
        margin-bottom: var(--s);
    }
}

pre {
    font-size: var(--s);
    padding-top: var(--s);
    padding-inline: var(--s);
    margin-bottom: var(--m);
    border: 1px solid var(--blue);
    line-break: anywhere;
}

/*
* {
    border: 1px dotted red;
}*/
