@import url("gold.css");
@import url("root.css");

body {
    display: grid;
}

h1 {
    font-family: "slkscr";
    color: var(--red);
    margin-block: var(--m);
}

h2 {
    font-family: "slkscr";
    background-color: var(--white);
    color: var(--black);
    margin-block: var(--s);
}

main {
    *:not(".gmb") {
        margin-bottom: var(--s);
    }
}

details {
    margin-block: var(--s);
    text-align: center;
    summary {
        margin-block: var(--s);
    }
}

/*
* {
    border: 1px dotted red;
}*/
