@import url("gold.css");
@import url("root.css");

body {
    display: grid;
}

h1, h2 {
    font-weight: bold;
    padding-inline: var(--s);
    width: fit-content;
    color: var(--black);
}

h1 {
    font-family: "slkscr";
    margin-block: var(--m);
    background-color: var(--red);
}

h2 {
    font-family: "slkscr";
    margin-block: var(--s);
    background-color: var(--white);
}

p {
    font-size: var(--s);
}

main {
    *:not(".gmb") {
        margin-bottom: var(--s);
    }
    nav {
        padding-inline: var(--s);
        border-radius: var(--s);
        box-shadow: 0px -5px 3px -2px var(--code);
    }
}

code {
	color: var(--code);
	font-size: inherit;
}

details {
    margin-block: var(--s);
    text-align: center;
    summary {
        margin-block: var(--s);
    }
}

/*
* {
    border: 1px dotted red;
}*/
