@import url("gold.css");

:root {
    --black: #1c1c1c;
    --white: #ffffff80;
    --red: #f33535;
    --blue: #2936f2;
}

body {
    background: var(--black);
    color: var(--white);
    font-family: system-ui;
}
