@import url("gold.css");
@import url("root.css");

* {
    text-align: center;
}

main {
    padding-inline: var(--s);
}

h1 {
    font-family: "redros";
    padding-top: var(--m);
    background: linear-gradient(0deg, var(--red), var(--black));
    background-clip: text;
    font-weight: bold;
    text-shadow: 0px 0px var(--red);
    filter: drop-shadow(2px 2px var(--blue));
    animation: shadow_anim 2s steps(6) infinite;
}

@keyframes shadow_anim {
    50% {
        text-shadow: -4px 4px var(--red);
    }
}

.gmb {
    margin-bottom: var(--l);
}

#tagline small {
    font-style: italic;
}

#uv {
    background-color: var(--code);
    border-radius: var(--m);
    code {
        background: linear-gradient(0deg, black, white);
        background-clip: text;
    }
}

#buttons {
    grid-template-columns: 1fr 1fr;
    @media (width > 500px) {
        gap: var(--l);
    }
}

.button_1 {
    background-color: var(--blue);
    border-radius: var(--m);
    text-decoration: none;
    cursor: pointer;
}

.button_2 {
    background-color: #080808;
    border: 1px solid var(--blue);
    border-radius: var(--m);
    text-decoration: none;
    grid-template-columns: auto 1fr;
    img {
        width: var(--m);
    }
}

#time {
    color: var(--code);
}
