@import url("prism.css");

@font-face {
    font-family: "redhat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/RedHatDisplay-Regular.ttf") format("woff2");
}
@font-face {
    font-family: "redros";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/RedRose-Regular.ttf") format("woff2");
}
@font-face {
    font-family: "slkscr";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/Silkscreen-Regular.ttf") format("woff2");
}

:root {
    --m: 31px;
    --black: #070204;
    --white: #ffffff80;
    --red: #f33535;
    --blue: #2936f2;
    --code: #5036ff;
}

@media (width < 567px) {
    :root {
        --m: 25px;
    }
}

body {
    background: var(--black);
    color: var(--white);
    font-family: "redhat", system-ui;
}

site-header {
    width: 100%
}

header {
    font-family: "slkscr";
    background-color: var(--black);
    display: grid;
    margin-bottom: var(--m);
    border-bottom: 3px solid var(--blue);
    padding-inline: var(--s);
    height: fit-content;

    position: sticky;
    inset: 0;
    z-index: 2;

    #topline {
        display: grid;
        grid-template-columns: 32px 1fr 32px;
        img {
            width: 32px;
            cursor: pointer;
        }
    }

    #side_panel {
        margin-top: var(--xs);
        p {
            width: fit-content;
        }
    }
    #side_panel:not([opened]) {
        display: none;
    }
}

main {
    padding-inline: var(--m);
}

footer {
    margin-top: var(--m);
    padding-bottom: var(--xxs);
    font-size: var(--xs);
    background: linear-gradient(var(--blue), var(--black));
    border-radius: 40% 40% 0 0;
    width: 100%;
    text-align: center;
}

.button[disabled] {
    opacity: 0.6;
    pointer-events: none;
}

.gmb {
    margin-bottom: var(--l);
}

li {
    margin-block: var(--xs);
}

code.language-markdown {
    white-space: pre-wrap;
}

pre {
    font-size: var(--s);
    line-break: anywhere;
}
