/* root.css is for native html elements and site-wide configuration */

@font-face {
    font-family: "redhat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/RedHatDisplay-Regular.ttf") format("woff2");
}
@font-face {
    font-family: "redros";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/RedRose-Regular.ttf") format("woff2");
}
@font-face {
    font-family: "slkscr";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/Silkscreen-Regular.ttf") format("woff2");
}
@font-face {
    font-family: "redres";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/Redressed-Regular.ttf") format("woff2");
}
@font-face {
    font-family: "redtxt";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/RedHatText-Regular.ttf") format("woff2");
}

:root {
    --m: 31px;
    --black: #070204;
    --white: #ffffff9e;
    --strong: #fff;
    --red: #f33535;
    --blue: #2936f2;
    --code: #5036ff;
}

@media (prefers-color-scheme: light) {
    :root {
        --white: #070204de;
        --black: #ffffff80;
        --strong: #000;
    }
    .ioda {
        filter: invert(1);
    }
}

@media (width < 567px) {
    :root {
        --m: 25px;
    }
}

html {
    background: var(--black);
    color: var(--white);
    /* font-size: var(--m);
    line-height: var(--l); */
    font-size: var(--s);
    line-height: var(--m);
    font-family: "redtxt", system-ui;
}

body {
    display: grid;
    min-block-size: 100dvb;
    grid-template-rows: auto 1fr auto;
}

h1,
h2 {
    font-family: "slkscr";
    font-weight: bold;
    padding-inline: var(--s);
    width: fit-content;
    color: var(--black);
}

h1 {
    margin-block: var(--m);
    background-color: var(--red);
}

h2 {
    margin-block: var(--s);
    background-color: var(--white);
}

strong {
    font-weight: normal;
    color: var(--strong);
}

img {
    /* mix-blend-mode: lighten; */
}

hr {
    color: var(--blue);
    max-width: 567px;
    place-self: center;
}

li {
    list-style: none;
}

header {
    font-family: "slkscr";
    background-color: var(--black);
    display: grid;
    margin-bottom: var(--m);
    border-bottom: 3px solid var(--blue);
    padding-inline: var(--s);
    height: fit-content;

    /* position: sticky; */
    /* who REALLY likes sticky headers */
    inset: 0;
    z-index: 2;

    #topline {
        display: grid;
        grid-template-columns: 32px 1fr 32px;
        align-items: start;
        img {
            width: 32px;
            cursor: pointer;
        }
    }

    #side_panel {
        li {
            line-height: var(--s);
            width: fit-content;
            place-self: center;
        }
    }
    #side_panel:not([opened]) {
        display: none;
    }
}

main {
    padding-inline: var(--l);
    max-width: 1024px;
    place-self: center;
}

main {
    *:not(".gmb") {
        margin-bottom: var(--s);
    }
    nav {
        width: max-content;
        padding-inline: var(--s);
        border-radius: var(--s);
        box-shadow: 0px -5px 3px -2px var(--code);
        h2 {
            background-color: var(--blue);
            font-weight: normal;
        }
    }
}

footer {
    font-family: "redres";
    margin-top: var(--m);
    width: 100%;
    color: var(--black);
    margin-bottom: var(--s);
    p {
        font-size: var(--xs);
        padding-inline: var(--l);
        text-align: center;
        background: var(--blue);
        /* background: linear-gradient(var(--black), var(--blue) 20%, var(--blue) 80%, var(--black)); */
        border-radius: var(--xl);
    }
}

pre {
    /* max-width: 80dvi; */
}

code {
    font-family: monospace;
    /* font-family: redhat; */
    font-size: inherit;
    overflow-wrap: anywhere;
}

details {
    margin-block: var(--s);
    color: var(--blue);
    summary {
        cursor: pointer;
        color: var(--white);
        margin-block: var(--s);
    }
}

quote {
}

li {
    margin-block: var(--xs);
}

code.language-markdown {
    white-space: pre-wrap;
}
